* {
  margin: 0;
  padding: 0;
}

body {
  background: #000;
}

#message {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: calc(100% - 50px);
  background: #000;
  overflow-y: auto;
  padding: 10px;
  box-sizing: border-box;
}

#sendMsg {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 50px;
  background-color: #aaa;
}

#msg-text {
  position: absolute;
  left: 0;
  top: 0;
  width: calc(100% - 100px);
  height: 100%;
  padding-left: 10px;
  box-sizing: border-box;
}

#msg-btn {
  position: absolute;
  top: 0;
  right: 0;
  width: 100px;
  height: 100%;
}

.outer {
  width: 100%;
  margin-top: 10px;
  display: flex;
  font-family: sans-serif;
}

#inner {
  padding: 10px;
  box-sizing: border-box;
  border-radius: 10px;
}

.me {
  background: #8800ff;
  color: #fff;
}
.notMe {
  background: #fff;
  color: #000;
}